{% extends "main/wrapper.html" %}
{% block content %}
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

		{% include "main/includes/Topline_html.html" %}

        <!--Home page style-->
        {% include "main/includes/map.html" %}


        <!--Footer-->
        {% include "main/includes/footer_html.html" %}
    </body>
</html>
{% endblock %}