{% block content %}
<footer>
            <div class="container">
			<hr>
            		<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="social-network">
							<a href="https://twitter.com/TiuvaievS"><i class="fa fa-twitter"></i></a>
							<a href="https://www.instagram.com/store.whiteapple/"><i class="fa fa-instagram"></i></a>
							<a href="https://www.facebook.com/AppleMeredian"><i class="fa fa-facebook"></i></a>
							<a href="https://t.me/goWhiteAppleStore"><i class="fa fa-telegram"></i></a>
						</div>
					</div>

            		<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="copyright">
							<p>Made with TSV</p>
						</div>
					</div>
            </div>
</footer>
{% endblock %}