{% block content %}

      <div class="overlay-img">
          <div class="container">
              <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12"><br>
                      <section role="main" class="main-content">
                          <div class="company-name" style=" color: black; margin-bottom: 20px; text-align: center; font-weight: bold; font-size: 38px; line-height: 32px;">
                              <h1 style=" padding-top: 15px;">White Apple Store</h1>
                          </div>
                          <div class="company-address" style="margin-bottom: 20px; color: black; text-align: center; font-size: 16px;">
                              <a>Біла Церква, бульвар Олександрійський 84, (вхід в арку). Оріентири: кафе "Пентагон" або NovaPoshta #5.</a>
                          </div>
                          <div class="info_info" style="color: black; text-align: center;">
                              <a>Наявність власного паркування на території сервісного центру.</a>
                          </div><br>
                          <div class="info_time" style="color: black; text-align: center;">
                              <a>Графік роботи: з 09:00 до 19:00 кожен день (Без перерв та вихідних).</a><br>
                              <a>Видача замовлень у той же день!</a>
                          </div><br>
                          <div class="info_telephone" style="color: black; text-align: center; font-weight: bold">
                              <a>Контактні номери: 063-63-77-639 та 097-981-92-49</a>
                          </div>
                      </section>
                  </div>
              </div>
              <br><br>
              <div>
                  <div class="wpb_map_wrapper" role="main">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2574.5489521460217!2d30.0844219!3d49.8133469!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d343a121286cf1%3A0xa3a0a83feb9719e9!2sWhiteApple.store!5e0!3m2!1suk!2sua!4v1678793784118!5m2!1suk!2sua" width="1140" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                  </div>
              </div>
          </div>
      </div>
</header>
{% endblock%}