{% block content %}
<header class="home-bg">
		<div class="overlay-img">
			<div class="container">
				<div class="row">
					<div class="wrapper">
						<img src="/static/main/images/PageStore/iPhoneStore.jpg" height="500vh" width="1200vh" alt="iPhone">
					</div>
					<br><br><br>

					<div class="wrapper">
						<img src="/static/main/images/PageStore/iPadStore1.jpg" height="280vh" width="1200vh" alt="iPad">
					</div><br><br><br><br>

					<div class="wrapper">
						<img src="/static/main/images/PageStore/iPadStore2.jpg" height="580vh" width="1200vh" alt="iPad">
					</div><br><br><br><br>

					<div class="wrapper">
						<img src="/static/main/images/PageStore/iPadStore3.jpg" height="220vh" width="1200vh" alt="iPad">
					</div><br><br><br><br>

					<div class="wrapper">
						<img src="/static/main/images/PageStore/iPadStore4.jpg" height="400vh" width="1200vh" alt="iPad">
					</div><br><br><br><br>

					<div class="wrapper">
						<img src="/static/main/images/PageStore/iPadStore5.jpg" height="320vh" width="1200vh" alt="iPad">
					</div><br><br><br><br>

					<div class="wrapper">
						<img src="/static/main/images/PageStore/iPadStore6.jpg" height="480vh" width="1200vh" alt="iPad">
					</div><br><br><br><br>

					<div class="wrapper">
						<img src="/static/main/images/PageStore/MacBookStore.jpg" height="580vh" width="1200vh" alt="iPad">
					</div><br><br><br><br>

				</div>
			</div>
		</div>
</header>
{% endblock %}